@import url('https://fonts.googleapis.com/css2?family=Andika&family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
}
html, body{
    margin: 0;
    padding: 0px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #1b1a1a89;
}

body{
    font-family: 'Andika', sans-serif;
    background: url("./images/ceu-estrelado.jpeg");
    background-size: 100%;
    background-repeat: repeat;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    color: whitesmoke;
}

#entraData{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    margin-bottom: 20px;
    /* max-width: 50%; */
}

#content{
    display:flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    padding-bottom: 20px;
    background: #1b1a1a89;
}

img{
    display: none;
    /* width: calc(16*40px);
    height: calc(9*40px); */
    width: 90%;

    border: 5px solid white;
    border-radius: 50px;
}

iframe{
    display: none;
    width: calc(16*30px);
    height: calc(9*30px);
}